@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

:root{
    --font-family-1: 'Kumbh Sans', sans-serif;
    --font-family-2: 'Poppins', sans-serif;
    --font-family-3: 'Roboto', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* font-family: 'Kumbh Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    max-width: 1224px;
    margin: 0 auto;
}
header{
    width: 100%;
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .h-left a img{
    width: 50px;
}
header .h-right{
    width: 52%;
}
header .h-right .h-bar ul{
    list-style: none;
    float: left;
}
header .h-right .h-bar ul li{
    display: inline-block;
    padding: 0 10px;
}
header .h-right .h-bar ul li a{
    text-decoration: none;
    color: #2e2e2e;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}
header .h-right .h-bar ul li a:hover{
    text-decoration: underline;
}
header .h-right .h-cart{
    float: right;
}
header .h-right .h-cart i{
    color: rgb(133, 127, 127);
    width: 25px;
    font-size: 20px;
}
.section-1{
    margin-top: 100px;
    width: 100%;
    text-align: center;
}
.section-1 .content-1{
    padding-bottom: 65px;
}
.section-1 .content-1 h1{
    font-size: 48px;
    font-weight: 500;
    color: #2e2e2e;
    letter-spacing: 1px;
    font-family: 'Kumbh Sans', sans-serif;
}
.section-1 .content-2{
    padding-bottom: 45px;
}
.section-1 .content-2 p{
    color: #2e2e2e;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}
.btn{
    color: white;
    background-color: #ccadad;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    background-color: #dac3c3;
}
.section-2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 175px;
    padding: 0 5px;
}
.section-2 .content img{
    width: 392px;
}
.section-2 .content:nth-child(2){
    position: relative;
    top: -60px;
}
.section-3, .section-4{
    margin-top: 160px;
    width: 100%;
    padding: 0 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-3 .content-left,
.section-4 .content-left{
    min-width: 50%;
}
.section-3 .content-left h2,
.section-4 .content-left h2{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #2e2e2e;
    padding: 40px 0;
}
.section-3 .content-left h3,
.section-4 .content-left h3,
.section-6 .content-left h1{
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #2e2e2e;
    font-family: 'Kumbh Sans', sans-serif;
}
.section-3 .content-right p{
    padding: 15px 0;
}
.section-4 .content-left p{
    padding-top: 15px;
}
.section-4 .content-right{
    flex: 1;
}

.section-4 .content-right img{
    width: 600px;
}
.section-5{
    width: 100%;
    text-align: center;
    margin-top: 150px;

}
.section-5 .content-1 h1{
    font-size: 32px;
    font-weight: 400;
    color: #2e2e2e;
    letter-spacing: 1px;
    font-family: 'Kumbh Sans', sans-serif;
    margin-bottom: 80px;
}
.section-5 .content-2{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.section-5 .content-3{
    margin-top: 60px;
}
.section-6{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
}
.section-6 .content-left{
    width: 50%;
    text-align: center;
}
.section-6 .content-left p{
    margin-top: 10px;
    color: #2e2e2e;
    letter-spacing: 1px;
    font-size: 14px;
}
.section-6 .content-right form{
    display: flex;
    flex-direction: column;
    margin-right: 150px;
    justify-content: flex-start;
    align-items: flex-start;
}
.section-6 .content-right form label{
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #2e2e2e;
    margin: 5px 0;
}
.section-6 .content-right form .text{
    width: 552px;
    height: 48px;
    font-size: 14px;
    padding: 16px 56px 16px 16px;
    background-color: #e3e3e3;
    border: none;
}
.section-6 .content-right form textarea{
    width: 552px;
    height: 96px;
    font-size: 14px;
    padding: 16px 56px 16px 16px;
    background-color: #e3e3e3;
    border: none;
}
.section-6 .content-right form button{
    margin-top: 30px;
}
.section-7 .content-1 img{
    width: 100%;
    margin-top: 100px;
}
footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
footer .content-left{
    width: 60%;
    display: flex;
    justify-content: flex-start;
}
footer .content-left .f-1 span,
footer .content-left .f-2 span{
    font-size: 20px;
    font-weight: 500;
    font-family: var(--font-family-1);
    padding: 0px 250px 0 0;
}
footer .content-left .f-1 p,
footer .content-left .f-2 p{
    font-size: 14px;
    font-weight: 300;
    font-family: var(--font-family-3);
    line-height: 20px;
    padding-top: 20px;
}
footer .content-right{
    width: 40%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
footer .content-right h1{
    font-size: 20px;
    font-weight: 600;
    font-family: var(--font-family-1);
    color: #2e2e2e;
    margin-bottom: 40px;
}
footer .content-right input{
    width: 490px;
    height: 48px;
    font-size: 14px;
    padding: 16px 56px 16px 16px;
    background-color: #e3e3e3;
    border: none;
}
footer .content-right label{
    margin-bottom: 5px;
}
footer .content-right button{
    margin-top: 35px;
}
footer .f-icon{
    position: relative;
    top: -70px;
    margin-left: 10px;
}
footer .f-icon i{
    padding: 0 20px;
    font-size: 24px;
}